.comment_box {
  display: flex;
  justify-content: space-between;
  height: 20px;
  .post_left {
    .post_id {
      margin-right: 10px;
      font-weight: 600;
    }
  }
  .post_right {
    .post_heart {
      width: 20px;
      height: 20px;
    }
    .post_btn {
      width: 20px;
      height: 20px;
      background-color: white;
      border: none;
      font-size: 20px;
      padding: 0;
    }
  }
}
