.footer {
  height: 5rem;
  margin: 0.5rem 3.4rem 0.5rem 0.5rem;
  color: #c6c7c7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .info {
    font-size: 0.8rem;
    font-weight: 500;
  }

  .cooperation {
    font-size: 0.8rem;
    font-weight: 600;
  }
}
