.header {
  position: fixed;
  height: 4rem;
  width: 100%;
  background-color: #fdfdfd;
  border-bottom: 1.5px solid #e6e7e7;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .logo {
    font-size: 2.3rem;
    display: flex;
    font-family: 'Cookie', cursive;
    justify-content: center;
    align-items: center;
    height: 3rem;
    flex: auto;

    .logoIcon {
      border-right: 1.5px solid black;
      padding-right: 1.2rem;
      margin-right: 1.2rem;
    }
    .linkText {
      &:link {
        text-decoration: none;
        color: black;
      }
      &:visited {
        text-decoration: none;
        color: black;
      }
    }
  }
  .wrapperSearch {
    flex: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .searchBoxWrapper {
      display: none;
      width: 15rem;
      height: 0;
      position: relative;

      .searchBox {
        position: absolute;
        width: 20rem;
        height: 250px;
        background-color: #fafafa;
        border: 1px solid #e6e7e7;
        border-radius: 3px;
        top: 10px;
        left: -2.5rem;
        box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.4);
        overflow-y: scroll;
        padding: 0 10px;

        &:after {
          content: '';
          border-top: 0 solid transparent;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-bottom: 10px solid #fafafa;
          position: absolute;
          top: -10px;
          left: 50%;
        }

        .searchItem {
          border-bottom: 2px solid #e6e7e7;
        }
      }
    }

    &:focus-within .searchBoxWrapper {
      display: flex;
    }

    .searchInput {
      width: 15rem;
      height: 2.2rem;
      background-color: #fafafa;
      border: 2px solid #dbdbdb;
      border-radius: 5px;
      text-align: center;

      &::-webkit-input-placeholder {
        background-image: url(../../../assets/search-interface-symbol.png);
        background-size: contain;
        background-position: 1px center;
        background-repeat: no-repeat;
        text-align: center;
        text-indent: 0;
        font-weight: 500;
      }
    }
  }
  .wrapperMenus {
    flex: auto;
    display: flex;
    justify-content: center;

    .menu {
      font-weight: 200;
      font-size: 1.5rem;
      color: #79787a;

      &:nth-child(2) {
        margin: 0 2rem;
      }
    }
  }
}
