@mixin hstyleFontsize {
  font-size: 14px;
}
.mainRight {
  width: 350px;
  height: 100vh;
  margin-top: 50px;
  margin-left: 25px;
  .mainRightHead {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 350px;
    height: 70px;
    padding-left: 15px;
    border: 1px solid rgb(221, 220, 220);
    background-color: white;

    .mainRightHeadImage {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      overflow: hidden;
      img {
        width: 50px;
        height: 50px;
        overflow: cover;
      }
    }
  }

  .mainRightHeadTitle {
    p {
      color: rgb(156, 156, 156);
      font-size: 13px;
      font-weight: bold;
    }
  }

  .mainRightStory {
    width: 350px;
    height: 250px;
    margin-top: 10px;
    border: 1px solid rgb(221, 220, 220);
    background-color: white;

    .mainRightStoryTitle {
      display: flex;
      justify-content: space-between;
      padding: 10px 20px;

      h4 {
        @include hstyleFontsize;
      }
      p {
        color: rgb(156, 156, 156);
        font-size: 13px;
        font-weight: bold;
      }
    }

    .mainRightStoryProfile {
      width: 300px;
      height: 250px;
      margin-left: 20px;
      margin-top: 10px;

      .StoryProfileSet {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 10px;

        .StoryProfileIcon {
          width: 40px;
          height: 40px;
          overflow: hidden;
          img {
            width: 40px;
            height: 40px;
            object-fit: cover;
            border-radius: 50%;
          }
        }

        .StoryProfileName {
          h4 {
            @include hstyleFontsize;
          }
          p {
            font-size: 11px;
            color: rgb(156, 156, 156);
          }
        }
      }
    }
  }
  .mainRightPeople {
    width: 350px;
    height: 250px;
    margin-top: 20px;
    border: 1px solid rgb(221, 220, 220);
    background-color: white;

    .mainRightPeopleTitle {
      display: flex;
      justify-content: space-between;
      padding: 20px;
      h4 {
        @include hstyleFontsize;
      }
      p {
        color: rgb(156, 156, 156);
        font-weight: bold;
        font-size: 13px;
      }
    }
  }

  .mainRightPeopleProfile {
    width: 310px;
    height: 200px;
    margin-left: 20px;

    .mainRightPeopleBox {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .mainRightPeopleSet {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 10px;

        .peopleIcon {
          width: 40px;
          height: 40px;
          overflow: hidden;
          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
          }
        }

        .mainRightPeopleName {
          font-size: 14px;
          p {
            color: rgb(156, 156, 156);
            font-size: 13px;
          }
        }
      }
    }

    .mainRightPeopleBoxfollow {
      color: deepskyblue;
      font-size: 14px;
      font-weight: bold;
    }
  }

  .mainRightInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 350px;
    height: 100px;
    margin-top: 20px;
    padding-right: 50px;

    .mainRightInfofirst {
      font-size: 13px;
      color: rgb(156, 156, 156);
    }

    .mainRightInfolast {
      font-size: 13px;
      color: rgb(156, 156, 156);
    }
  }
}
